<a href="https://colab.research.google.com/github/haneeshav04/Advanced-Programming/blob/master/28_05_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Strings:
1. " " or ' ' ----in python there is no charater data type
2. immutable -- cant change
3. collection of characters enclosed by quotation marks -- iterable object

In [1]:
s1 = "Hello"
s2 = 'Good Afternoon'
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [2]:
s1 = input("Enter a string")
print(type(s1))

Enter a stringHi
<class 'str'>

In [4]:
#operators
s1 = "Hello"
s2 = 'Good Afternoon'
print(s1 + s2)#concatenantion
print(s1 * 3)#repititon
print(s1[4])#slicing
print(s1[-1])
print(s1[2:])
print(s1[:])

HelloGood Afternoon
HelloHelloHello
o
o
llo
Hello

In [5]:
# to print alternating characters
s1 = "Hello"
print(s1[::2])

Hlo

In [6]:
#check if palindrome or not
s3 = input("Enter string")
if s3 == s3[::-1]:
  print("String is palindrome")
else:
  print("String is not palindrome")

Enter stringmadam
String is palindrome

In [7]:
#to check is no is palindrome
n = int(input("enter a number"))
if str(n) == str(n)[::-1]:
  print("Palindrome")
else:
  print("Not palindrome")

enter a number121
Palindrome

In [9]:
#Membership operators
s4 = "pyhton"
print("on" in s4)
print("xyz" in s4)
print("on" not in s4)
print("xyz" not in s4)

True
False
False
True

In [10]:
#built in functions
s = "hello"
s1 = "abc123"
print(len(s))
print(max(s))
print(min(s))
print(max(s1))
print(min(s1))

5
o
e
c
1

In [11]:
#built in method
s = "hello"
print(len(s))#function calling
s = s.capitalize()#method calling
print(s)

5
Hello

In [13]:
s1 = "hello"
s2 = "abc123"
s3 = "123"
s4 = "123ac@"
print(s1.isalpha())
print(s1.isdigit())
print(s1.isalnum())
print(s2.isalpha())
print(s2.isdigit())
print(s2.isalnum())
print(s3.isalpha())
print(s3.isdigit())
print(s3.isalnum())
print(s4.isalnum())

True
False
True
False
False
True
False
True
True
False

In [15]:
s1 = "python"
s2 = "PYTHON"
s3 = "pyTHon"
print(s1.isupper())
print(s2.isupper())
print(s1.islower())
print(s2.islower())
print(s3.swapcase())

False
True
True
False
PYthON

In [16]:
s = "abc abc abc"
s.count("abc")

3

In [17]:
s ="abc abc abc"
print(s.split())
s1 = "a,b,c,d"
print(s1.split(","))

['abc', 'abc', 'abc']
['a', 'b', 'c', 'd']

In [18]:
s = "abc"
s = s.replace('b','z')
print(s)

azc

In [20]:
#accept a number from user and remove nth position 
#character from from the string
#n = 3
#s = abcabc
#output : ababc
n = int(input("Enetr position"))
s = input("Enter string")
print(s.replace(s[n-1],"",1))

Enetr position3
Enter stringabcabc
ababc

In [21]:
#printing 1 to n 
n = 10
for i in range(1,n+1):
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [23]:
s ="python"
for i in s:
  print(i,end=" ")

p y t h o n

In [24]:
s ="python"
for i in range(0,len(s)):
  print(s[i],end=" ")

p y t h o n

In [26]:
s = input("Enter string")
cv = 0 
cc = 0
for i in range(0,len(s)):
  if s[i]=='a' or s[i]=='e' or s[i]=='i' or s[i]=='o' or s[i]=='u':
    cv+=1;
  else:
    cc+=1;
print("No of vowels: ",cv)
print("No of consonants: ",cc)

Enter stringabcdef
No of vowels:  2
No of consonants:  4

In [28]:
s = input("Enter string")
s.count("aa")

Enter stringabbaaccbbaaa

2

In [29]:
s = input("Enter string")
co=0
cc=0
for i in range(0,len(s)):
  if s[i]==')':
    cc+=1
  else:
    co+=1;
if(co<=cc):
  print(co)
else:
  print(cc)

Enter string((((()()()))))()
8